@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.light-theme {
    --text-color: #131313;
    --card-bg: #ebebeb;
    --body-bg: #FFF;
}

.dark-theme {
    --text-color: #ddd;
    --card-bg: #171a1f;
    --body-bg: #262932;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg);
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-radius: 1rem;
    width: 20rem;
    padding: 1.5em;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
}

.switch {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--text-color);
    color: var(--card-bg);
    border: none;
    border-radius: 50%;
    padding: .5em .6em;
    cursor: pointer;
}

.switch svg {
    width: 1.5rem;
}

p {
    font-size: 1rem;
    padding: 1rem 0;
}

p.type {
    font-size: 5rem;
    font-weight: 600;
}

[x-cloak] {
    display: none !important;
}